service: ${self:custom.settings.serviceName}

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage,'dev'}
  region: ${self:custom.settings.region}
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "s3:GetObject"
      Resource: "arn:aws:s3:::${self:custom.settings.environment.SOURCE_BUCKET}/*"
  apiGateway:
    binaryMediaTypes:
      - '*/*'

layers:
  sharp:
    path: lambdaLayers/SharpLayer # required, path to layer contents on disk
    name: ${self:provider.stage}-sharp # optional, Deployed Lambda layer name
    package:
      include:
        - node_modules/**
    description: sharp@0.23.4
    compatibleRuntimes:
      - nodejs12.x
    licenseInfo: Apache License 2.0
    retain: false

resources:
  Conditions:
    CreateCertificate: !Not [!Equals ["${self:custom.settings.environment.CUSTOM_DOMAIN, ''}", ""]]
  Resources:
    CloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Comment: Cloudfront distribution for serverless image handler
          DefaultCacheBehavior:
            TargetOriginId: ApiGateway
            ViewerProtocolPolicy: 'redirect-to-https'
            DefaultTTL: 30
            ForwardedValues:
              Headers:
                - 'Accept'
              QueryString: true
          Enabled: true
          Origins:
            - Id: ApiGateway
              DomainName:
                Fn::Join:
                  - "."
                  - - Ref: ApiGatewayRestApi
                    - execute-api.${self:custom.settings.region}.amazonaws.com
              OriginPath: "/${self:provider.stage}"
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only
          Aliases:
            Fn::If:
            - CreateCertificate
            - - '${self:custom.settings.environment.CUSTOM_DOMAIN, self:custom.empty}'
            - Ref: AWS::NoValue
          ViewerCertificate:
            Fn::If:
            - CreateCertificate
            - AcmCertificateArn:
                Ref: Certificate
              SslSupportMethod: 'sni-only'
              MinimumProtocolVersion: 'TLSv1'
            - Ref: AWS::NoValue
    Certificate:
      Type: AWS::CertificateManager::Certificate
      Condition: CreateCertificate
      Properties:
        DomainName: '${self:custom.settings.environment.CUSTOM_DOMAIN}'
        ValidationMethod: DNS
functions:
  index:
    package:
      individually: true
      excludeDevDependencies: true
      browser: false
      exclude:
        - node_modules/**
        - docs/**
        - .idea/**
        - bin/darwin/**
        - coverage/**
    handler: src/index.handler
    layers:
      - {Ref: SharpLambdaLayer}
    events:
      - http:
          path: /{any+}
          method: get
          contentHandling: CONVERT_TO_BINARY
    environment: ${self:custom.settings.environment}
Outputs:
  CloudFrontDistributionOutput:
    Value:
      'Fn::GetAtt': [ CloudFrontDistribution, DomainName ]
custom:
  empty: ''
  settingsFilePath: ${opt:settings,'./settings.yml'}
  settings: ${file(${self:custom.settingsFilePath}):stages.${self:provider.stage}}
  serverless-offline:
    httpPort: ${self:custom.settings.offlinePort}
    noPrependStageInUrl: true

plugins:
  - serverless-offline